body{
    display: flex;
    
}

.div1{
    width: 250px;
    height: 480px;
    border: 5px solid black;
    display: flex;
    margin-left: 20%;
    
}

.div2{
    width: 550px;
    height: 480px;
    border: 5px solid black;
    align-items: center;
    font-size: larger;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: blueviolet;
    
    
    
}
button{
    width: 100px;
    background-color: greenyellow;
    margin-right: -180px;
    height: 25px;
    
}
label{
    margin: 10px;
   
}
input{

}
img{
    width: 548px;
    height: 170px;
}

